<!DOCTYPE html>
<html>
  <head>
  <title></title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
	<meta charset="utf-8">
    
    <link rel="stylesheet" href="../content/hollaback.css" />      
    <link rel="stylesheet" href="../content/jquery.mobile.structure-1.0.1.css"/>
    
    <!-- iPad/iPhone specific css below, add after your main css >
     <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />		
     <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />		
     -->
    <!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->
    
    <script src="../phonegap-1.4.1.js" type="text/javascript" charset="utf-8" ></script>         
    <script src="../scripts/jquery-1.6.4.js" type="text/javascript"></script>
    <script src="../scripts/jquery.mobile-1.0.1.js" type="text/javascript"></script> 
        
  </head>
    
    
  <body>
      
      <div data-role="page" id="aboutPage">
          
          <div data-role="header">
              <h1>About</h1>
              <a href="menu.html" data-icon="arrow-l" data-theme="b" class="ui-btn-right">Back</a>
          </div><!-- /header -->
          
          <div data-role="content">	
           	<h2>About Hollaback!</h2> 
           	<p>
           	Hollaback is a movement to end street harassment.  We believe that everyone has the right to feel safe, confident, and sexy when they walk down the street.</p>

			<p>By holla'ing back, you bring attention to street harassment and make a powerful case for why it must end.  When the time comes to hollaback, you will have a choice to hollaback with or without a picture.  The picture helps to tell a story, and can include anything from the turd himself, to your shoes or the street scene. If you don't feel safe, don't take one. The next step is to identify from a list the type of harassment. Set your location and enter your story details. Then, viola! Your hollaback has been submitted. If you hollaback'ed when you were not online, your hollaback will be queued up to be sent when your connection goes back up.</p> 

			<p>Once submitted you will receive an email asking you to tell the rest of your story.  If you submitted your hollaback in error, this is the time to tell us. Your full story will be reviewed and mapped on our site (ihollaback.org), where it will inspire the world to take action and end street harassment.</p>

			<p>Don't just walk on... Hollaback! </p>
                        
			<p>This app was developed in partnership Hollaback International by Amy Palamountain and Josephine Hall. Any problems with this app should be sent to <a href="mailto:info@ihollaback.org">info@ihollaback.org</a></p>          
          </div><!-- /content -->
          
      </div><!-- /page -->
      
         
	
  </body>
</html>
