<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">
            
    </head>

   <body>
        
     	<div data-role="page" id="locationPage">
            
              <div data-role="header">
                <h1>Choose Location</h1>
            </div><!-- /header -->
            
            <div data-role="content">	

            
				<p>Select your local Hollaback to submit your stories:</p>
                      			
				<div data-role="fieldcontain">
					<select data-bind="options: availableLocations, optionsText: 'locationName', value: selectedLocation, optionsCaption: 'Choose...'"></select>
				</div>
				
                
                <div data-bind="visible: selectedLocation">  		
					<label>You have selected:</label>
					<span data-bind="text: selectedLocation() ? selectedLocation().locationName : 'unknown'"></span>
				</div>


			   <a href="signup.html" data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">Next</a>

                
            </div><!-- /content -->                 
        </div><!-- /page -->
        
    </body>
</html>
