<!DOCTYPE html>
<html>
  <head>
  <title></title>
  
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />-->
	
        
    <link rel="stylesheet" href="../content/hollaback.css" />      
    <link rel="stylesheet" href="../content/jquery.mobile.structure-1.0.1.css"/>
    
	<!-- iPad/iPhone specific css below, add after your main css >
	<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />		
	<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />		
	-->
	<!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->

 
  </head>
    
    
  <body>

      <div data-role="page" id="signupPage">
			
          <div data-role="header">
              <h1>Sign Up</h1>
          </div><!-- /header -->
          
          <div data-role="content">	            	

			<input data-bind='value: userName, valueUpdate: "afterkeydown"' required placeholder="User Name"/>					              
            <input data-bind='value: password' required placeholder="Password"/>
            <input data-bind='value: password' required placeholder="Confirm Password"/>
            <input data-bind='value: emailAddress' required pattern="@" placeholder="Email"/>           
            <input data-bind='value: emailAddress' required pattern="@" placeholder="Confirm Password"/>
			
			<p data-bind='text: responseText'></p>
			<a href="location.html" data-role="button" data-icon="arrow-l" data-iconpos="left" data-inline="true" data-theme="b">Back</a>
			<a data-bind='click: signin' data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">Sign Up</a

							

      	 </div><!-- /content -->
          

      </div><!-- /page -->
	
  </body>
</html>
