.hollabacklogobackground{
	background: url('images/logo-medium.png') no-repeat right top;	
}

.contentbox{
	padding-top: 60px;
	margin: 10px;
}

.storycontentbox{
    padding-top: 70px;
}

.contentbox input{
	margin-bottom: 10px;
	margin-top: 10px;
}

.contentbox h2{
	margin-bottom: 5px;
}


.login-controls{
    height:50px;       
}

.login-controls .misc-login-controls{
    float:left;
    width:140px;
    padding-top:10px;  
}

.login-controls .login-button{
    float:right;
    margin-top:-10px;
}

.signupLink{	
	margin-top: 8px;
}

.nextButton{
	float: right;
}


#map_canvas{
	width:100%; 
	height:100%; 
	position: absolute !important; 
	margin-left: -15px;
	padding: 0;
}

#mapPage .ui-mobile {
  padding:-10px;
  margin: 0;
}

.storyinput{
    height:125px !important;
}

.storycontrols{
    height:41px;
}

.storycontrols .count{
    float:right;
}

.storycontrols .location{
    margin-left:5px;
}

.storycontrols .rightchild{
    float:right;
}

.storycontrols .leftchild{
    float:left;
}

.storycontrols .ui-btn-icon-notext {
    width: 35px;
    height: 30px;
}

.storycontrols .ui-icon{
    border-radius: 0px !important;
}

.ui-icon-locationpin{
	background: url("images/map-marker.png") no-repeat !important;
    height:35px !important;
    width:40px !important;
}

.ui-icon-camera {
	background: url("images/camera.png") no-repeat !important;
    height:35px !important;
    width: 40px !important;
    padding:0px !important 
}


