.hollabacklogobackground{
	background: url('images/logo-medium.png') no-repeat right top;	
}

.contentbox{
	padding-top: 80px;
	margin: 10px;
}

.storycontentbox{
    padding-top: 140px;
}

.contentbox input{
	margin-bottom: 10px;
	margin-top: 10px;
}

.contentbox h2{
	margin-bottom: 5px;
}

.loginButtonBox{
	height: 50px;
}

.signupLink{	
	margin-top: 10px;
}


.loginButton{
	float: right;
}

.nextButton{
	float: right;
}


#map_canvas{
	width:100%; 
	height:100%; 
	position: absolute !important; 
	margin-left: -15px;
	padding: 0;
}

#mapPage .ui-mobile {
  padding:-10px;
  margin: 0;
}

.storyblock{
    height:150px;
}

.storyblock .storyinput{
    height:130px !important;
    float:left;
    width:240px;
}

.storyblock .storyCharacterCounter{
    padding-right:5px;
    position: absolute;
    color:#8CC63F;
    top: 300px;
    left: 210px;
    z-index: 998;
}

.storycontrols{
    float:left;
}

.storymeta{
    height:50%;
}


.ui-icon-locationpin {
	background: url("images/pin_green.png") no-repeat !important;
}

.ui-icon-camera {
	background: url("images/camera_green.png") no-repeat !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-locationpin {
		background-image: url("images/pin_green@2x.png");
		background-size: 18px 18px;
	}
    .ui-icon-camera {
		background-image: url("images/camera_green@2x.png");
		background-size: 18px 18px;
	}
}