.hollabacklogobackground{
	background: url('images/logo-medium.png') no-repeat right top;	
}

.contentbox{
	padding-top: 60px;
	margin: 10px;
}

.storycontentbox{
    padding-top: 70px;
}

.aboutbox{
	padding-top: 50px;
	margin: 10px;
}

.contentbox input{
	margin-bottom: 10px;
	margin-top: 10px;
}

.contentbox h2{
	margin-bottom: 5px;
}


.login-controls{
    height:50px;       
}

.login-controls .misc-login-controls{
    float:left;
    width:140px;
    padding-top:10px;  
}

.login-controls .login-button{
    float:right;
    margin-top:-10px;
}

.signupLink{	
	margin-top: 8px;
}

.nextButton{
	float: right;
}


#map_canvas{
	width:100%; 
	height:100%; 
	position: absolute !important; 
	margin-left: -15px;
	padding: 0;
}

#mapPage .ui-mobile {
  padding:-10px;
  margin: 0;
}

.storyinput{
    height:125px !important;
    margin-bottom: 10px;
}

.storycontrols{
    height:41px;
}

.storycontrols .count{
    float:right;
}

.storycontrols .location{
    margin-left:2px;
    margin-right:4px;
    float:left; 
    margin-left:8px;
    width:100px;
}

.storycontrols .rightchild{
    float:right;
    width:30%;
}

.storycontrols .leftchild{
    float:left;
    width:70%;
}

.storycontrols .ui-btn-icon-notext {
    width: 35px;
    height: 30px;
}
.storycontrols .leftchild span, .storycontrols .rightchild span{
    margin-top:4px;
}

.storycontrols .ui-icon{
    border-radius: 0px !important;
}

.share-photo{
    display:none;
    width:25px;
    height:25px;
    float:left;
    border: 1px solid gray;
}

.gps-icon{
    display:none;
    width:30px;
    height:30px;
    float:left;
    margin-right:5px;

}

.storymeta{
    margin-top:-5px;
}

.ui-icon-locationpin{
	background: url("images/map-marker.png") no-repeat !important;
    height:35px !important;
    width:40px !important;
    margin-left: 7px;
}

.ui-icon-camera {
	background: url("images/camera.png") no-repeat !important;
    height:20px !important;
    width: 40px !important;
    margin-left: 2px !important;
    margin-top: 2px;
}

.ui-grid-story-a {width:100%; height: 65px;}
.ui-grid-story-a .ui-block-story-a {width: 27%; float:left; }
.ui-grid-story-a .ui-block-story-b { width: 73%; float:left;}



